*.gz filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.rda filter=lfs diff=lfs merge=lfs -text
data/eset/*.rds filter=lfs diff=lfs merge=lfs -text
output/gene-filtering.Rmd/* filter=lfs diff=lfs merge=lfs -text 

data/eset-raw.rds filter=lfs diff=lfs merge=lfs -text
data/eset-final.rds filter=lfs diff=lfs merge=lfs -text
data/eset-filtered.rds filter=lfs diff=lfs merge=lfs -text

output/images-cellcycleR-convergence.Rmd/*rds filter=lfs diff=lfs merge=lfs -text
data/cellcycle-genes-previous-studies/* filter=lfs diff=lfs merge=lfs -text
data/rnaseq-previous-studies/* filter=lfs diff=lfs merge=lfs -text
data/rnaseq-previous-studies/*/* filter=lfs diff=lfs merge=lfs -text
output/cellcycler-seqdata-leng.Rmd/*rda filter=lfs diff=lfs merge=lfs -text
output/images-subset-silhouette.Rmd/si_pam.rda filter=lfs diff=lfs merge=lfs -text
output/images-normalize-anova.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/seqdata-batch-correction.Rmd/*rds filter=lfs diff=lfs merge=lfs -text
output/images-circle-ordering.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/seqdata-select-cellcyclegenes.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/images-seq-correlation.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/images-circle-ordering-npreg.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/images-circle-ordering-sigcorgenes.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/npreg.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/npreg-methods.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/npreg-trendfilter-prelim.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/npreg-trendfilter-quantile.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/images-time-eval.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-npreg.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-npreg-prelim-results.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-labels.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-classifiers.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-classifiers-top10.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-classifiers-all.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-triple.Rmd/* filter=lfs diff=lfs merge=lfs -text

output/method-labels-noisy.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-labels-seurat.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-eval-withheld-explore.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-eval-withheld-explore-removenoisy.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-classifiers-all.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-labels.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-labels-equalfold.Rmd/* filter=lfs diff=lfs merge=lfs -text

output/method-train-classifiers-all.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-train-classifiers-genes.Rmd/* filter=lfs diff=lfs merge=lfs -text
output/method-eval.Rmd/* filter=lfs diff=lfs merge=lfs -text

# finalized results
data/results/* filter=lfs diff=lfs merge=lfs -text
